.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #333;
}

.card {
  width: 300px;
  padding: 20px;
  background-color: #222;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #00b894;
}

.card .input-wrapper {
  margin-bottom: 10px;
}

.card input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px; /* Add margin to create space between input fields */
  color: white;
  background-color: #333;
}

.card button {
  width: 100%;
  padding: 10px;
  background-color: #00b894;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card button:hover {
  background-color: #00a382;
}

.card p {
  text-align: center;
  color: #00b894;
}

.card p a {
  color: #007bff;
  cursor: pointer;
}
.red-heading {
  color: #00b894;
}
.card .error {
  color: red;
}